<div class="form-control">
  <%= form.label :email %>
  <%= form.text_field :email, type: 'email' %>
</div>

<div class="form-control">
  <%= form.label :password %>
  <%= form.password_field :password %>
</div>
