
<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Admin Page</title>

  <!-- Bootstrap core CSS -->
  <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="css/thumbnail-gallery.css" rel="stylesheet">

</head>

<body>


<!-- Page Content -->
<div class="container">

  <h1 class="my-4 text-center text-lg-left">Users</h1>



  <div class="container-fluid">
    <table class="table">
      <thead>
      <tr>
        <th>Image</th>
        <th>Username</th>
        <th>Time/Date</th>
        <th>Edit</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td><a href="#" class="d-block mb-4 h-100">

          <img class="img-fluid img-thumbnail" src="https://i.ytimg.com/vi/ajYoSR-hK5k/maxresdefault.jpg" width="500" height="400" alt="">
        </a></td>
        <td>USER1</td>
        <td>11:00</td>
        <td><button type="button" class="btn btn-light">Approve</button>
          <button type="button" class="btn btn-danger">Delete</button></td>
      </tr>
      <tr>
        <td><a href="#" class="d-block mb-4 h-100">

          <img class="img-fluid img-thumbnail" src="http://cyber-breeze.com/wp-content/uploads/2017/02/featured-image-39.jpg" width="500" height="400" alt="">
        </a></td>
        <td>USER2</td>
        <td>17:38</td>
        <td><button type="button" class="btn btn-light">Approve</button>
          <button type="button" class="btn btn-danger">Delete</button></td>
      </tr>

      </tbody>
    </table>





  </div>

</div>




<!-- /.container -->

<!-- Footer -->
<footer class="py-5 bg-dark">
  <div class="container">
    <p class="m-0 text-center text-white">Copyright &copy; Infinite Image 2018</p>
  </div>
  <!-- /.container -->
</footer>

<!-- Bootstrap core JavaScript -->
<script src="vendor/jquery/jquery.min.js"></script>
<script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

</body>

</html>
