
<!------
Author: Teodora (kodekat)
Purpose: Upload Page for the images on the website
Users are able to either Browse/Select a file from their local machine
Or they can drag & drop a file into the designated box.
They also have to fill out additional informational fields such as:
image_title, category, description, location; for proper storing in the database.

   
 To Do:
 - "Upload" button should only be enabled once mandatory fields have been validated.
 - Fix the length of the page - avoid scrolling.
 ---->
  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">


    <script src="//netdna.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <link rel="stylesheet" href="/app/assets/stylesheets/uploadstyle.css">
    <title>Infinite Image</title>

    <style>
      .upload-drop-zone {
        height: 200px;
        border-width: 2px;
        margin-bottom: 20px;
      }

      /* skin.css Style*/
      .upload-drop-zone {
        color: #ccc;
        border-style: dashed;
        border-color: #ccc;
        line-height: 60px; /*inner box "Choose File"*/
        text-align: center;
        height: 75px; /*dashed lines height*/

      }
      .upload-drop-zone.drop {

        color: #222;
        border-color: #222;
      }
      .panel{margin-left:125px; margin-top:5px;
        margin-bottom:100%; /*might need to be adjusted to avoid scrolling*/
        background-color:#fff;
        border:1px solid transparent;border-radius:4px;
        -webkit-box-shadow:0 1px 1px rgba(0,0,0,.05);
        box-shadow:0 1px 1px rgba(0,0,0,.05);
       width:900px; }
      .panel-body{padding:15px;border:1px solid #ddd}
      .panel-heading{padding:10px 15px;border-bottom:1px solid transparent;
        border-top-left-radius:3px;border-top-right-radius:3px
        color:#333;background-color:#f5f5f5;border-color:#ddd
        border-top:1px solid #ddd;
        border-left:1px solid #ddd;}
      .panel-default {
        border-color: #ddd;
        align-self: center;
      }
      .btn
      {margin:0;font:inherit;color:inherit}
      .drop-here{
        background-color: #fcfbab;
        width: 740px;
      }
      .form-group1{display:inline-block;margin-bottom:0;vertical-align:middle;
      width: 900px;}

    </style>
  </head>



    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
      <div class="container">
        <a class="navbar-brand" href="#">Infinite Image</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item active">
              <!---href links back to home - to be edited later---->
              <a class="nav-link" href="home#index">Home
                <span class="sr-only">(current)</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">About</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Register</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#" data-toggle="dropdown">Login</a>
              <div class="dropdown-menu dropdown-menu-right">
                <form class="px-4 py-3">
                  <div class="form-group">
                    <label for="exampleDropdownFormEmail1">Email address</label>
                    <input type="email" class="form-control" id="exampleDropdownFormEmail1" placeholder="email@example.com">
                  </div>
                  <div class="form-group">
                    <label for="exampleDropdownFormPassword1">Password</label>
                    <input type="password" class="form-control" id="exampleDropdownFormPassword1" placeholder="Password">
                  </div>
                  <div class="form-check">
                    <input type="checkbox" class="form-check-input" id="dropdownCheck">
                    <label class="form-check-label" for="dropdownCheck">
                      Remember me
                    </label>
                  </div>
                  <button type="submit" class="btn btn-primary">Sign in</button>
                </form>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#">New around here? Sign up</a>
                <a class="dropdown-item" href="#">Forgot password?</a>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <!-- Page Content -->
    <div class="container">

      <h1 class="my-4 text-center text-lg-left">Infinite Image</h1>
    <!-- Search -->
      <div class="row">
        <div class="col"></div> <!--center search bar -->
        <div class="col-lg-6">
          <div class="input-group">
            <div class="input-group-btn">
              <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">All <span class="caret"></span></button>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="#">Animals</a></li>
                <li><a class="dropdown-item" href="#">Nature</a></li>
                <li><a class="dropdown-item" href="#">Cars</a></li>
                <li><a class="dropdown-item" href="#">Travel</a></li>
              </ul>
            </div><!-- /btn-group -->
            <input type="text" class="form-control" aria-label="..."><input type="submit" value="Search">
          </div><!-- /input-group -->
        </div><!-- /.col-lg-6 -->
        <div class="col"></div> <!--center search bar -->
      </div><!-- /.row -->
    <!-- End Search -->
    <div class ="row top-buffer">
      <div class="row text-center text-lg-left">


        <div class="panel panel-default">
          <div class="panel-heading"><strong>Upload Image Below</strong> </div>
          <div class="panel-body">

            <!-- Standar Form -->
            <h4>Select a file from your computer or Drag & Drop in the yellow zone</h4>
            <div class="upload-drop-zone" id="drop-zone">
            <form class="" action="" method="post" enctype="multipart/form-data" id="js-upload-form">
              <div class="form-inline">
                <div class="form-group1">
                  <input class="drop-here" type="file" name="files[]" id="js-upload-files" multiple>

                <button type="submit" class="btn btn-sm btn-primary" id="js-upload-submit">Upload File!</button>
              </div>
              </div>
            </form>
            </div> <!--end drop zone --->
            <div class="row">
              <div class="col">
                <label for=""></label>
                <input type="text" class="form-control" id="" placeholder="Image Title">
            </div>
              <div class="col">
                <label for=""></label>
                <select class="form-control" id="exampleFormControlSelect1">
                <option>Choose A Category</option>
                <option>Animals</option>
                <option>Nature</option>
                <option>Cars</option>
                <option>Travel</option>
                </select>
            </div>
          </div> <!---first row additional info -->
            <div class="row">
              <div class="form-group col-md-8">
                <label for=""></label>
                <input type="text" class="form-control" id="" placeholder="Image Description">
            </div>
            <div class="form-group col-md-4">
                <label for=""></label>
                <input type="text" class="form-control" id="" placeholder="Image Location">
              </div>
            </div> <!---second row additional info -->


            <small>All images are subject to approval before they are officially posted online. This process may take up to 48hrs. Thank you for your patience! </small>

            <!-- Progress Bar -->
            <!------- <div class="progress">
             <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;">
               <span class="sr-only">60% Complete</span>
             </div>
           </div>

           <!-- Upload Finished -->
            <!------- <div class="js-upload-finished">
              <h3>Processed files</h3>
              <div class="list-group">
                <a href="#" class="list-group-item list-group-item-success"><span class="badge alert-success pull-right">Success</span>image-01.jpg</a>
                <a href="#" class="list-group-item list-group-item-success"><span class="badge alert-success pull-right">Success</span>image-02.jpg</a>
              </div>
            </div>---->

          </div>
        </div>


      </div>
    </div>
    </div>
    <!-- /.container -->

    <!-- Footer -->
    <footer class="py-5 bg-dark">
      <div class="container">
        <p class="m-0 text-center text-white">Copyright &copy; Your Website 2017</p>
      </div>
      <!-- /.container -->
    </footer>


