<!DOCTYPE html>
<html>
<head>
  <title>Inifinite Image</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <!-- Bootstrap core CSS -->
  <link href="/app/assets/stylesheets/bootstrap/bootstrap.css" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="/app/assets/stylesheets/overrides.css" rel="stylesheet">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

</head>
<body>
<!-- Bootstrap core JavaScript -->
<script src="/app/assets/javascripts/jquery/jquery.js"></script>
<script src="/app/assets/javascripts/bootstrap/bootstrap.bundle.min.js"></script>
</body>
</html>